:root{
    --main-color: #FED136;
    --title-color: #222222;
    --primary-text-color: #777777;
    --secondary-color: #FFFFFF;
}


body{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
}

.container{
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    outline: red 2px solid;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 237px;
    padding-right: 237px;
}

.logo{
    color: var(--main-color);
    text-align: center;
font-family: "Bilbo Swash Caps";
display: flex;
}

.nav-list, .nav-link{
    text-decoration: none;
    list-style: none;
    color: var(--main-color);
    text-transform: uppercase;
    display: flex;
    gap: 40px;
}
/* Serv */

.services{
    padding-top: 91px;
    padding-bottom: 119px;
}

.serv{
    color: var(--title-color);
text-transform: uppercase;
text-align: center;
font-size: 40px;
font-weight: 700;
line-height: 75px;
}

.serv-list{
    display: flex;
    text-align: center;
    letter-spacing: -0.35px;
    font-size: 14px;
    line-height: normal;
    gap: 56px;
    justify-content: center;
}

.serv-img{
    list-style: none;
    width: 274px;
}

.serv-text{
    color: var(--primary-text-color);
}

footer{
    padding-top: 92px;
    padding-bottom: 115px;
}

/* Footer */
footer, .form{
    background-color: var(--title-color);
    text-transform: uppercase;
}

.contact{
    color: var(--secondary-color);
    text-align: center;
font-size: 40px;
font-weight: 700;
}

/* Form */
.first-form{
    display: flex;
    margin-bottom: 28px;
    flex-direction: column;
    gap: 28px;
}

.form-button{
    color: var(--secondary-color);
    background-color: var(--main-color);
font-size: 18px;
font-weight: 700;
}
/*  */
button, .form-button{
    margin-left: 631px;
}
/*  */
.form-name{
    color: var(--primary-text-color);
font-weight: 700;
letter-spacing: -0.35px;
width: 455px;
height: 50px;
flex-shrink: 0;
}

.form-e-mail{
    color: var(--primary-text-color);
font-weight: 700;
letter-spacing: -0.35px;
width: 457px;
height: 53px;
flex-shrink: 0;
}

.form-subject{
    color: var(--primary-text-color);
font-weight: 700;
letter-spacing: -0.35px;
width: 457px;
height: 53px;
flex-shrink: 0;
}

.form-message{
font-weight: 700;
letter-spacing: -0.35px;
width: 458px;
height: 212px;
flex-shrink: 0;
}


.form-wraper{
    display: flex;
    gap: 28px;
    justify-content: center;
}